<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfAppCV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfAppYokoJake2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WpfAppCV.Properties.Settings>
            <setting name="VisionApiUri" serializeAs="String">
                <value />
            </setting>
            <setting name="VisionApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="TextAnalyticsApiUri" serializeAs="String">
                <value />
            </setting>
            <setting name="TextAnalyticsApiKey" serializeAs="String">
                <value />
            </setting>
        </WpfAppCV.Properties.Settings>
        <WpfAppYokoJake2.Properties.Settings>
            <setting name="StorageAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="StorageKey" serializeAs="String">
                <value />
            </setting>
            <setting name="StorageContainerName" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateJacketYokoUri" serializeAs="String">
                <value />
            </setting>
            <setting name="GetStatusYokoUri" serializeAs="String">
                <value />
            </setting>
        </WpfAppYokoJake2.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>